#TextoOfertas{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


#ImagenEntre{
    width: 100%;
}

#foot {
    padding: 0em 0;
    text-align: justify;
    position: absolute;
    bottom: 0;
    width: 100%;
}