#TextoOfertas{
    font-size: 2rem;
    text-align: center;
}


#ImagenEntre{
    width: 100%;
}

#foot {
    padding: 0em 0;
    text-align: justify;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#TextPq{
    text-align: center;
}

.ContainerPq{
    border: 5px;
    border-style: solid;
    padding: 20px;
    margin: 20px;

}

.button {
    font-family: inherit;
    font-weight: 400;
    background: orange;
    color: white;
    padding: 0.35em 0;
    font-size: 17px;
    border: none;
    border-radius: 0.7em;
    letter-spacing: 0.08em;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    overflow: hidden;
    height: 2.1em;
    padding-left: 3em;
    padding-right: 0.7em;
   }
   
   .button .icon {
    background: #fff;
    margin-right: 1em;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.5em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0.3em;
    transition: all .7s;
   }
   
   .shere {
    width: 1.3rem;
    height: 1.3rem;
    margin-left: 4px;
   }
   
   .button:hover .icon {
    width: calc(100% - 0.6rem);
   }
   
   .button:hover .shere {
    width: calc(100% - 0.6rem);
    display: none;
   }
   
   .button .icon-shere {
    color: orange;
    width: 1.5rem;
    height: 1.5rem;
    display: none;
   }
   
   .button:hover .icon .icon-shere {
    display: flex;
   }