#TextoOfertas{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.ImagenEntre{
    padding: 0%;
}

.img-container{
    height: 70%;
    position: relative;
    background-size: cover;
}
