#textoCarta{
    text-align: center;
    font-size: 50px;
    margin: 10px;
    padding: 5px;
    border-radius: 200px;
    background-color: rgb(255, 255, 255);
}
.descContain{
    background-color: white;
    display: inline;
}

.cardButton{ 
    text-align: right;
}

#IMGproducto{
    width: 100%;
    border-radius: 10px;
}

.imgProducto{
    visibility: unset;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
}
.svg-icon{
    height: 30px;
    border-radius: 40px;
    border: 1px solid #252525;
    cursor: pointer;
    padding: 2px;
}

#carta{
    width: 200px;
    padding: .8em;
    margin: .8em;
    border-style: solid;
    border-radius: 20px;
    background: #f5f5f5;
    box-sizing: border-box;
}

.contenedorCartas{
    display: flex;
    padding: 10px 1px 5px 150px;
    flex-wrap: wrap;
}
