
footer{
    margin: 0;
    position: none;
    top: 70%;
    left: 0%;
    bottom: 0%;
    width: 100%;
    color: white;
    text-align: center;
    background-color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.contactos{
    list-style: none;
}
