.formBody{
    background-color: #FDB273;
    margin-left: 3%;
    width: 250px;
    max-width: 400px;
    padding: 4.5em 6em;
    border-radius: 20px;
    box-shadow: 0 5px 10px -5px black;
    text-align: center;
}

.formTitle{
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}

.formContainer{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.grupo{
    position: relative;
    color: black;
    --color: #5757577e;
}

.formInput:focus + .formLabel{
    transform: translateY(-12px) scale(.7);
}

.formInput{
    width: 100%;
    background: none;
    color: rgb(212, 212, 212);
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color);
    font-family: Arapey;
}

.formLabel{
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, gray .3s;
    font-family: Arapey;
}
.Boton{
    cursor: pointer;
}