body{
    margin: 0;
    padding: 0;
}

header{
    background-color: black;
    color: white;
    padding: 0.3rem 0.2rem;
}

.Menu {
    margin: 3rem 0rem 0rem 1rem;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    padding-left: 0;
}

#Logo{
    font-size: 3rem;
    text-align: center;
    display: inline;
}

.Lista{
    margin: 2em 2em 3em 2em;;
    font-size: 2rem;
    text-align: center;
    display: inline;
}


a:hover{
    background-color: gray;
}

