#TextoOfertas {
    font-size: 3rem;
    text-align: center;
}

.BotonComprar {
    color: black;
}

.ImagenProducto {
    width: 20rem;
    height: 12rem;
    border: black;
}

.Plano {
    display: inline;
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
} 

.contenido {
    border: black;
    border-style: solid;
    padding: 0%;
    margin: 3rem;
    width: 100%;
    display: flex;
    max-width: 580px;
}

